{% extends 'blog/base.html' %}

{% block page_header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/bootstrap/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block article %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{about.body}}
        </div>
      </div>
    </div>

    <hr>
{% endblock article %}
