{% extends 'blog/base.html' %}

{% block page_header %}
<header class="masthead" style="background-image: url('static/bootstrap/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A blog for technical notes and blog translation </span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock page_header %}

{% block Content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for post in post_list %}
          <div class="post-preview">
            <a href="{{ post.get_absolute_url }}">
              <h2 class="post-title">
                {{post.title}}
              </h2>
              <h3 class="post-subtitle">
                {{post.excerpt}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{post.author}}</a>
              {{post.create_time}} Readed {{post.views}}</p>
          </div>
          <hr>
          {% empty %}
          <h3 class="post-subtitle">
            暂时没有文章发布
          </h3>
          {% endfor %}
          <hr>
          <!-- Pager -->
          {% if is_paginated %}
          <div class="clearfix">
            {% if page_obj.has_previous %}
            <a class="btn btn-primary float-left" href="?page={{ page_obj.previous_page_number }}">&larr; previous Posts</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a class="btn btn-primary float-right" href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
<hr>
{% endblock Content %}